.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.container {
    display:contents;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
}
